@use "../../styles/partials/mixins";
@use "../../styles/partials/variables";
@use "../../styles/partials/fonts";

.show {
  display: block;
}

.disabled {
  display: none;
}

section .upload__divider {
  @include mixins.tablet() {
    margin: variables.$padding-inc * 6 0;
  }
}

section form .divider {
  @include mixins.tablet() {
    margin: 0;
  }
}

.upload {
  padding: 0 variables.$padding-inc * 4;

  @include mixins.tablet {
    padding: 0 variables.$padding-inc * 9;
  }

  @include mixins.desktop() {
    padding: 0 variables.$padding-inc * 30;
  }

  &__divider {
    display: none;

    @include mixins.tablet() {
      display: block;
    }
  }

  &__publish {
    background-image: url("../../assets/images/icons/publish.svg");
    background-repeat: no-repeat;
    background-position: 12px;
    background-size: 8rem;
    margin-bottom: variables.$padding-inc * 4;

    @include mixins.tablet() {
      width: 150px;
      order: 2;
    }

    &-video {
      &-wrapper {
        @include mixins.desktop() {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;
        }
      }

      &-fields {
        @include mixins.desktop() {
          width: 70%;
        }
      }
    }

    &-thumb-wrapper {
      @include mixins.desktop() {
        width: 30%;
        margin-right: variables.$padding-inc * 6;
      }
    }

    &-left {
      width: 100%;
      position: relative;
      height: 190px;
      padding-bottom: variables.$padding-inc * 4;
    }

    &-thumbnail {
      border-radius: 4px;
      height: 185px;
      width: 100%;
      max-width: 400px;
      position: absolute;
      object-fit: cover;

      @include mixins.tablet() {
        width: 50%;
        margin-bottom: variables.$padding-inc * 6;
      }

      @include mixins.desktop() {
        width: 100%;
        margin-bottom: 0;

        &:hover {
          cursor: pointer;
        }
      }
    }

    &-file {
      opacity: 0;
      position: absolute;

      @include mixins.tablet() {
        width: 50%;
      }
    }

    &-label {
      @include mixins.sectionHeader(variables.$secondaryTextColor);
    }

    &-field {
      @include mixins.bodyText(variables.$primaryTextColor);
      @include mixins.formField();
      width: calc(100% - 26px);
      padding: variables.$padding-inc * 3;
      margin-bottom: variables.$padding-inc * 4;
      resize: none;

      @include mixins.tablet {
        margin-bottom: variables.$padding-inc * 6;
      }
    }

    &-container {
      @include mixins.tablet() {
        display: flex;
        justify-content: flex-end;
        padding-top: variables.$padding-inc * 6;
      }

      @include mixins.desktop() {
        padding-left: variables.$padding-inc * 6;
      }
    }

    &-cancel {
      background-color: variables.$bgColor;
      color: variables.$primaryCTAColor;

      &:hover {
        background-color: variables.$outlineColor;
      }

      @include mixins.tablet() {
        width: 150px;
      }
    }
  }
}
