@use "./fonts";

// Fonts
$fontRegular: "Avenir-Regular";
$fontBold: "Avenir-Bold";

// Padding
$padding-inc: 4px;

// Colors
$primaryTextColor: #323232;
$primaryCTAColor: #0095ff;
$secondaryTextColor: #afafaf;
$bgColor: #ffffff;
$videoColor: #000000;
$hoverColor: #0065ad;
$outlineColor: #e1e1e1;
$formFieldColor: #fafafa;
$errorColor: #d22d2d;
