@use "../../../styles/partials/mixins";
@use "../../../styles/partials/variables";

.comments {
  padding: 0 variables.$padding-inc * 4;

  @include mixins.tablet {
    padding: 0 variables.$padding-inc * 9;
  }

  @include mixins.desktop {
    padding-left: 0;
    padding-right: 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: variables.$padding-inc * 4;
    padding-top: 0;

    @include mixins.tablet {
      padding-bottom: variables.$padding-inc * 4;
    }
  }

  &__counter {
    @include mixins.subHeader(variables.$primaryTextColor);
    width: 100%;
    padding-bottom: variables.$padding-inc * 4;

    @include mixins.tablet {
      padding-bottom: variables.$padding-inc * 6;
    }
  }

  &__wrapper {
    display: flex;

    @include mixins.tablet {
      padding-bottom: variables.$padding-inc * 3;
    }

    @include mixins.desktop {
      padding: 0 variables.$padding-inc * 6 variables.$padding-inc * 3
        variables.$padding-inc * 4;
    }
  }

  &__pic {
    margin-top: 22px;
    margin-right: variables.$padding-inc * 4;

    @include mixins.tablet {
      margin-top: 25px;
    }

    @include mixins.desktop {
      margin-top: 27px;
    }
  }

  &__form {
    width: calc(100% - 52px);

    &-wrapper {
      display: flex;
      justify-content: space-between;
      // align-items: flex-start;

      @include mixins.tablet() {
        width: calc(100% - 180px);
        // height: 5px;
      }
    }

    &-header {
      @include mixins.sectionHeader(variables.$secondaryTextColor);
      padding-bottom: variables.$padding-inc;

      @include mixins.tablet {
        padding: 0;
        height: 3rem;
      }
    }

    &-warning {
      display: none;
      &--invalid {
        display: none;
        font-size: 8px;
        color: red;
      }
    }

    &-textbox {
      @include mixins.bodyText(variables.$primaryTextColor);
      @include mixins.formField();
      width: calc(100% - 26px);
      padding: variables.$padding-inc * 3;
      resize: none;

      &--warning {
        border: 1px solid variables.$errorColor;
      }

      @include mixins.tablet {
        display: none;
      }

      &-tablet {
        @extend .comments__form-textbox;
        display: none;

        @include mixins.tablet {
          display: inline;
          width: calc(100% - 200px);
        }

        &--warning {
          border: 1px solid variables.$errorColor;
        }
      }
    }

    &-btn {
      width: 100%;
      background-image: url("../../../assets/images/icons/add_comment.svg");
      background-repeat: no-repeat;
      background-position: 12px;
      background-size: 7rem;
      background-position-y: 11px;
      margin-top: variables.$padding-inc * 4;

      @include mixins.tablet {
        width: 150px;
        background-size: 6rem;
        margin-left: variables.$padding-inc * 6;
      }
    }
  }

  &__user {
    &-container {
      display: flex;
      padding: variables.$padding-inc * 4 0;

      @include mixins.tablet {
        padding: variables.$padding-inc * 6 0;
      }

      @include mixins.desktop {
        padding-right: variables.$padding-inc * 6;
        padding-left: variables.$padding-inc * 4;
      }
    }

    &-left {
      margin-right: variables.$padding-inc * 4;
    }

    &-right {
      flex-direction: column;
      width: calc(100% - 52px);
    }

    &-header {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
    }

    &-name {
      @include mixins.subHeader(variables.$primaryTextColor);
      padding-right: variables.$padding-inc * 3;

      @include mixins.tablet {
        @include mixins.subHeaderBig(variables.$primaryTextColor);
      }
    }

    &-date {
      @include mixins.bodyText(variables.$secondaryTextColor);

      @include mixins.tablet {
        @include mixins.bodyTextBig(variables.$secondaryTextColor);
      }
    }

    &-delete {
      @include mixins.bodyText(variables.$primaryTextColor);
      position: relative;
      left: 10px;
      width: 12px;

      @include mixins.desktop {
        &:hover {
          cursor: pointer;
        }
      }

      &-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }

      &-yes,
      &-no {
        padding: calc(variables.$padding-inc / 2);
        border-radius: 4px;
        width: 45%;
        text-align: center;

        @include mixins.bodyText(variables.$primaryTextColor);

        @include mixins.tablet {
          @include mixins.bodyTextBig(variables.$primaryTextColor);
        }

        @include mixins.desktop {
          &:hover {
            cursor: pointer;
          }
        }
      }

      &-confirm {
        @include mixins.subHeader(variables.$primaryTextColor);
        padding: variables.$padding-inc;
        font-weight: 700;

        @include mixins.tablet {
          @include mixins.subHeaderBig(variables.$primaryTextColor);
        }
      }

      &-yes {
        @include mixins.desktop {
          &:hover {
            background-color: lightgreen;
          }
        }
      }

      &-no {
        @include mixins.desktop {
          &:hover {
            background-color: lightcoral;
          }
        }
      }
    }

    &-comment {
      @include mixins.bodyText(variables.$primaryTextColor);
      padding-top: variables.$padding-inc * 2;

      @include mixins.tablet {
        @include mixins.bodyTextBig(variables.$primaryTextColor);
      }
    }
  }
}
